.barentsburg{
    margin-bottom: 160px;
}

.title_barentsburg{
    font-size: 42px;
    line-height: 41px;
    text-align: left;
    margin-bottom: 20px;
}

.subtitle_barentsburg{
    font-size: 42px;
    line-height: 41px;
    text-align: left;
    margin-bottom: 40px;
}

.barentsburg__map{
    width: 1184px;
    margin-bottom: 48px;
}

.barentsburg__text{
    font-size: 18px;
    line-height: 30px;    
    width: 380px;
    margin: 0 120px 0 0;
}

.link_barentsburg{
    font-size: 18px;
    line-height: 30px;

}